@page "/certifikat"

<div class="mt-4">
    <h2 class="text-left">Certifikat</h2>
    <!-- Border runt certifikatsektionen -->
    <div class="border p-3 rounded" style="margin-top: 1rem;">
        <!-- Klarade Certifikat -->
        <div class="mb-4">
            <h4>Klarade Certifikat</h4>
            <div class="d-flex align-items-center">
                <a href="https://learn.microsoft.com/api/credentials/share/en-us/MarcusLisOlivebring-4473/FAC4988FCC2323A?sharingId=EE70EA8119EE143" target="_blank" class="d-flex align-items-center custom-navlink">
                    <img src="images/Azure.png" alt="AZ-900" style="width:50px; height:50px;" class="mr-2" />
                    <span>AZ-900</span>
                </a>
            </div>
        </div>
        <!-- Pågående Certifikat -->
        <div>
            <h4>Pågående Certifikat</h4>
            <div class="d-flex align-items-center">
                <img src="images/Azure.png" alt="AZ-104" style="width:50px; height:50px;" class="mr-2" />
                <span>AZ-104 (Pågående)</span>
            </div>
        </div>
    </div>
</div>
