@page "/erfarenheter"

<div class="mt-4">
    <h2 class="text-left">Erfarenheter</h2>
    <!-- Företagsblocket med extra marginal -->
    <div class="mt-3 border p-3 rounded text-center" style="max-width: 500px; margin-left: 0;">
        <img src="images/Didup.jpg" alt="Företag" class="img-fluid mb-2" style="width:50px; height:50px;" />
        <h4 class="mb-1">Didup</h4>
        <p class="mb-1">LIA</p>
        <small>2025</small>
    </div>
</div>